<div class="container">
    <h1>New account</h1>

    <%= render "form", account: @account %>

    <br>

    <div>
        <%= link_to "Go to companies", companies_path, class:"btn btn-primary" %> |
        <%= link_to "Go to jobs", jobs_path, class:"btn btn-primary" %>
    </div>
</div>

